<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- IMU Macro -->
  <xacro:macro name="add_imu" params="imu_name parent_link x y z">

    <link name="${imu_name}">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <box size="0.04 0.04 0.01"/>
        </geometry>
        <material name="grey">
          <color rgba="0.6 0.6 0.6 1.0"/>
        </material>
      </visual>

      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <box size="0.04 0.04 0.01"/>
        </geometry>
      </collision>

      <inertial>
        <mass value="0.01"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <inertia
          ixx="0.00001" ixy="0.0" ixz="0.0"
          iyy="0.00001" iyz="0.0"
          izz="0.00001"/>
      </inertial>
    </link>

    <joint name="${imu_name}_joint" type="fixed">
      <parent link="${parent_link}"/>
      <child link="${imu_name}"/>
      <origin xyz="${x} ${y} ${z}" rpy="0 0 0"/>
    </joint>

  </xacro:macro>

</robot>
